<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<style>
#elem {
    width: 50%;
    margin: 0 auto;
}
</style>
<html>
<br><br><br><br>
  <body id="test">
      <div id="elem">
        <img id="ya"  data-bind="attr : { src : current}"/>
      </div>
      <button data-bind="click : plus">Increment</button>
  </body>
</html>
<script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/knockout.js"></script> 


<script>
  $(document).ready(function(){

      var viewModel = {
        images : ko.observableArray([]),
        current : ko.observable(),
        id : ko.observable(0)
      };

      viewModel.plus = function(){
        if(viewModel.images().length > 0){
          viewModel.id(viewModel.id()+1);
          var newImage = viewModel.images()[viewModel.id()];
          viewModel.current(newImage);
        }
      }



      var hammertime = new Hammer(document.getElementById("elem"));
      hammertime.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
      hammertime.on("swiperight", function(e){
        viewModel.plus();
      })

      hammertime.on("swipeleft", function(e){
        viewModel.plus();
      })

      hammertime.on("swipeup", function(e){
        viewModel.plus();
      })

      hammertime.on("swipedown", function(e){
        viewModel.plus();
      })

      $.get("/restaurants", function(elems){
        viewModel.current(elems[0]);
        viewModel.images(elems);


      });
      ko.applyBindings(viewModel, document.getElementById("test"));
  });

</script>